{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:compat/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "no-extra-semi": ["warn"],
    "no-inner-declarations": ["error","both"],
    "valid-jsdoc": ["error",{"requireReturn":false,"prefer":{"returns":"return"}}],
    "curly": ["error","all"],
    "no-eval": ["error"],
    "no-extend-native": ["error",{"exceptions":["Object"]}],
    "no-new-wrappers": ["error"],
    "no-with": ["error"],
    "no-undef": ["error"],
    "no-unused-vars": ["error",{"args":"none"}],
    "array-bracket-spacing": ["error","never",{}],
    "indent": ["error",2,{"SwitchCase":1}],
    "no-array-constructor": ["error"],
    "no-mixed-spaces-and-tabs": ["error","smart-tabs"],
    "no-new-object": ["error"],
    "object-curly-spacing": ["error","always",{}],
    "semi": ["error","always"],
    "space-before-function-paren": ["error","never"],
    "max-len": ["warn",120,4,{"ignoreComments":true,"ignoreUrls":true}],
    "quotes": ["error", "single", {"avoidEscape": true}],

    "import/prefer-default-export": ["off"],
    "import/no-unresolved": ["off"],
    "import/no-extraneous-dependencies": ["error", {"optionalDependencies": true}],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/prop-types": ["off"],
    "react/no-unused-prop-types": ["off"],
    "react/no-unused-state": ["off"],
    "react/destructuring-assignment": ["warn","always",{"ignoreClassFields":true}],

    "jsx-a11y/label-has-for": ["warn"]
  }
}
