{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["alloy", "alloy/react"],
  "globals": {},
  "plugins": ["react-hooks", "prettier"],
  "root": true,
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "no-invalid-this": "off"
  }
}
